.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.board-row {
	display: block;
	width: 500px;
	height: 125px;
}

.square {
	width: 125px;
	height: 125px;
	display: inline;
	border: 1px solid #f00;
	border-radius: 10%;
	background: #fff;
	float: left;
	font-size: 80px;
	font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
